@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0,0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px 1px;
}

.logo img{
    box-sizing: content-box;
    width: 38px;
    background: white;
    border-radius: 50px;
    padding: 3px;
    
}
.logo h1{

    margin-left: 10px; 
    font-size: 28px;
    font-weight: lighter;
}

.boton{
    /*border: 1px solid red;*/
    display: none;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.boton i{
    /*border: 1px solid blue;*/
}

nav{
    /*border: 1px solid white;*/
    margin-right: 10px;
}

nav ul{
/*border: 1px solid blue;*/
}

nav ul li{
/*border: 1px solid red;*/
list-style: none;
display: inline-block;
}

nav ul li a{
    /*border: 1px solid green;*/
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    margin-left: 10px;
    transition: all 0.5s;
}

nav ul li a:hover{
    background: white;
    color: black;
    transform: scale(1.2);
    transition: all 0.5s;
}

@media screen and (max-width: 850px){
    nav{
        position: absolute;
        top: 58px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(131, 9, 9, 0.8);
        transition: all 0.5s;
    }

    nav ul{
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        border-bottom: 1px solid white;
        margin: 0;
        padding: 15px 15px;
        text-align: center;
    }

    .boton{
        display: block;

    }

    .activate{
        left: 0;
        transition: all 0.5s;
    }
}

.fondo{
    background-image: url(png/imgligero.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondo h1{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    margin-top: 50px;
}

.fondo h3{
    background: rgb(255, 255, 255, 0.7);
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;

}